.Autonomy {
  border: 1px solid #999;
  width: 70px;
}

.Company{
  position: relative;
  top:100px;
  left:350px;
  margin-left: 200px;
  display: inline;
  border: 1px solid #999;
}

.Companies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.Platoons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Platoon{
  position: relative;
  left:200px;
  margin-left: 100px;
  display: inline;
  border: 1px solid #999;
  text-align: center;
}

.radios{
  height:60px;
  width:60px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.trapez{

  position: absolute;
  top:150px;
  left:230px;
  height:70%;
  width:70%;
}